<md-fab-speed-dial ng-hide="demo.hidden" md-direction="down" md-open="demo.isOpen" ng-class="{ 'md-hover-full': demo.hover }" class="md-scale md-fab-top-right" style="top:0px; right:4px" ng-mouseleave="demo.isOpen=false" hide-gt-sm>
        <md-fab-trigger>
          <md-button aria-label="menu" class="md-fab md-mini" style="background-color:rgb(21,101,192)">
            <md-icon><i class="material-icons">view_headline</i></md-icon>
          </md-button>
        </md-fab-trigger>
        <md-fab-actions class="md-padding">
          <div>
            <md-button aria-label="About" class="md-fab md-icon-button md-raised md-mini" ng-click="scrollToAbout()">
              <md-tooltip md-direction="left" md-visible="tooltipVisible" md-autohide="false">
                About me
              </md-tooltip>
              <md-icon> <i class="material-icons">account_box</i></md-icon>
            </md-button>
          </div>
          <div>
            <md-button aria-label="Education" class="md-fab md-icon-button md-raised md-mini" ng-click="scrollToEducation()">
              <md-tooltip md-direction="left" md-visible="tooltipVisible" md-autohide="false">
                Education
              </md-tooltip>
              <md-icon> <i class="material-icons">school</i></md-icon>
            </md-button>
          </div>
          <div>
            <md-button aria-label="Work" class="md-fab md-icon-button md-raised md-mini" ng-click="scrollToWork()">
              <md-tooltip md-direction="left" md-visible="tooltipVisible" md-autohide="false">
                Work
              </md-tooltip>
              <md-icon> <i class="material-icons">work</i></md-icon>
            </md-button>
          </div>
          <div>
            <md-button aria-label="Skills" class="md-fab md-icon-button md-raised md-mini" ng-click="scrollToSkills()">
              <md-tooltip md-direction="left" md-visible="tooltipVisible" md-autohide="false">
                Skills
              </md-tooltip>
              <md-icon> <i class="material-icons">assessment</i></md-icon>
            </md-button>
          </div>
        </md-fab-actions>
        </md-fab-speed-dial>