<!--
<md-button class="md-fab md-fab-bottom-right" ng-click="showSocialMediaDialog($event)">
    <md-icon><i class="material-icons">public</i></md-icon>
    <md-tooltip md-direction="top">Social Media</md-tooltip>
</md-button>
-->
<div layout="column" ng-controller="HomeController as demo" ng-cloak>

    <md-fab-speed-dial ng-hide="demo.hidden" md-direction="left" md-open="demo.isOpen" class="md-scale" ng-class="{ 'md-hover-full': demo.hover }"
        ng-mouseenter="demo.isOpen=true" ng-mouseleave="demo.isOpen=false">
        <md-fab-trigger>
            <md-button class="md-fab" aria-label="Add...">
                <md-icon><i class="material-icons">public</i></md-icon>
                <md-tooltip md-direction="bottom" md-visible="tooltipVisible">Social Media</md-tooltip>
            </md-button>
        </md-fab-trigger>

        <md-fab-actions>
            <div ng-repeat="item in demo.items">
                <md-button aria-label="{{item.name}}" class=" md-primary md-icon-button" ng-href="{{item.link}}">
                    <md-tooltip md-direction="{{item.direction}}" md-visible="tooltipVisible" md-autohide="false">
                        {{item.name}}
                    </md-tooltip>

                    <md-icon ><img class="png-icon"  ng-src="{{item.icon}}"/> </md-icon>
                </md-button>

    
            </div>
        </md-fab-actions>
    </md-fab-speed-dial>

</div>