<md-sidenav style="height:100%" layout="column" class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">

  <md-toolbar>
    <div class="md-toolbar-tools">
      <h3>
        About
      </h3>
      <span flex></span>
    </div>
  </md-toolbar>

  <md-content flex>
    <md-list>
      <md-card>
        <md-card-title-media>
          <div class="md-media-sm">
            <img ng-src="{{info.imagePath}}" class="md-card">
          </div>
        </md-card-title-media>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Information</span>
            <p class="md-subhead">
              <md-icon><i class="material-icons">person</i></md-icon>{{info.author}}</p>
            <p class="md-subhead">
              <md-icon><i class="material-icons">email</i></md-icon>{{info.email}}</p>
            <p class="md-subhead">
              <md-icon><i class="material-icons">phone</i></md-icon>{{info.phone}}</p>
            <p class="md-subhead">
              <md-icon><i class="material-icons">location_city</i></md-icon>{{info.location}}</p>
          </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-item ng-repeat="item in menu">
            <a>
              <md-item-content md-ink-ripple layout="row" layout-align="start center">
                <md-button class="md-raised md-primary" ng-click="showDetailsDialog($event)">{{item.title}}</md-button>
              </md-item-content>
            </a>
          </md-item>
        </md-card-actions>
      </md-card>
    </md-list>
  </md-content>
</md-sidenav>