<section>
    <md-card>
        <md-grid-list   md-cols-xs="2" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6" 
                        md-row-height-gt-md="11:17" md-row-height-md="16:15" md-row-height-sm="6:7"md-row-height="4:6" 
                        md-gutter="12px" md-gutter-gt-sm="8px">
            
            <md-grid-tile md-ink-ripple md-rowspan="2" md-colspan="3" md-colspan-md="2" md-rowspan-md="2" md-colspan-sm="1" md-rowspan-sm="1" md-rowspan-xs="1" md-colspan-xs="1">
                <a href="https://github.com/bbffbb" style="height:100%">
                    <img style="height:100%; width:100%;" ng-src="/img/icons/github.jpg" />
                    <md-grid-tile-footer>
                        <h3>Projects</h3>
                    </md-grid-tile-footer>
                </a>
            </md-grid-tile>

            <md-grid-tile md-ink-ripple ng-click="showSkillsDialog($event)" md-rowspan="1" md-colspan="3" md-colspan-md="2" md-rowspan-md="2"
                md-colspan-sm="1" md-rowspan-sm="1" md-colspan-xs="1">
                <img style="height:100%; width:100%;" ng-src="/img/icons/skills.png" />
                <md-grid-tile-footer>
                    <h3>Skills</h3>
                </md-grid-tile-footer>
            </md-grid-tile>

            <md-grid-tile md-ink-ripple ng-click="showWorkDialog($event)" md-rowspan="1" md-colspan="2" md-colspan-md="2" md-rowspan-md="1"
                md-colspan-sm="1" md-rowspan-sm="1" md-colspan-xs="1">
                <img style="height:100%; width:100%;" ng-src="/img/icons/workexperience.jpg" />
                <md-grid-tile-footer>
                    <h3>Work experience</h3>
                </md-grid-tile-footer>
            </md-grid-tile>

            <md-grid-tile md-ink-ripple ng-click="showEducationDialog($event)" md-rowspan="1" md-colspan="1" md-colspan-md="2" md-rowspan-md="1"
                md-colspan-sm="1" md-colspan-xs="1">
                <img style="height:100%; width:100%;" ng-src="/img/icons/education.jpg" />
                <md-grid-tile-footer>
                    <h3>Education</h3>
                </md-grid-tile-footer>
            </md-grid-tile>
        </md-grid-list>
    </md-card>
</section>


<section>
    <div layout="row" layout-xs="column">
        <div flex ng-repeat="card in cards">
            <md-card>
                <img ng-src="{{card.imagePath}}" class="md-card-image" alt="Washed Out">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{card.title}}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>{{card.description}}</p>
                </md-card-content>
            </md-card>
        </div>
    </div>
</section>

<section>
    <div layout="row" layout-xs="column">
        <div flex>
            <div layout="column">
                <md-card>
                    <md-card-title>
                        <md-card-title-text>
                            <h1><b>Skills</b></h1>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <div layout="row">
                            <div layout="column" flex>
                                <h3>Programming Languages</h3>
                                <div ng-repeat="detail in languages">
                                    <h4>{{detail.name}}</h4>
                                    <h4 uib-rating ng-model="detail.rate" max="10" read-only="true" aria-labelledby="default-rating"></h4>
                                    <br />
                                </div>
                            </div>
                            <div layout="column" flex>
                                <h3>Evironments</h3>
                                <div ng-repeat="detail in environment">
                                    <h4>{{detail.name}}</h4>
                                    <h4 uib-rating ng-model="detail.rate" max="10" read-only="true" aria-labelledby="default-rating"></h4>
                                    <br />
                                </div>
                            </div>
                        </div>
                    </md-card-content>
                </md-card>
            </div>
        </div>
    </div>
</section>