md-sidenav, 
md-sidenav.md-locked-open, 
md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 200px !important;
    width: 85vw !important;
    max-width: 300px !important;
} 

.png-icon{
  height: 100%;
   width: 100%;
}

 .md-button.logo {
   height: 7rem;
   width: 7rem;
 }

  .horizontal-collapse {
    height: 70px;
  }
  .navbar-collapse.in {
    overflow-y: hidden;
  }